$wood: #F0BB78;
$beige:#F5ECD5;
$dark-green: #626F47;
$light-green: #A4B465;
$dark-theme:#020617;


$white: #ffffff;
$black: #000000;

$white1: rgba(255, 255, 255, 0.1);
$white2: rgba(134, 24, 24, 0.2);
$white3: rgba(255, 255, 255, 0.3);
$white4: rgba(255, 255, 255, 0.4);
$white5: rgba(255, 255, 255, 0.5);
$white6: rgba(255, 255, 255, 0.6);
$white7: rgba(255, 255, 255, 0.7);
$white8: rgba(255, 255, 255, 0.8);
$white9: rgba(255, 255, 255, 0.9);


$black1: rgba(0, 0, 0, 0.1);
$black2: rgba(0, 0, 0, 0.2);
$black3: rgba(0, 0, 0, 0.3);
$black4: rgba(0, 0, 0, 0.4);
$black5: rgba(0, 0, 0, 0.5);
$black6: rgba(0, 0, 0, 0.6);
$black7: rgba(0, 0, 0, 0.7);
$black8: rgba(0, 0, 0, 0.8);
$black9: rgba(0, 0, 0, 0.9);

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;
$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;
$zinc-950: #09090b;

$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;
$neutral-950: #0a0a0a;

$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;
$blue-900: #1E3A8A;
$blue-950: #172554;