$primary: #FF6F00;


$white: #ffffff;
$black: #000000;

$white1: rgba(255, 255, 255, 0.1);
$white1-5: rgba(255, 255, 255, 0.15);
$white2: rgba(255, 255, 255, 0.02);
$white3: rgba(255, 255, 255, 0.3);
$white4: rgba(255, 255, 255, 0.04);
$white5: rgba(255, 255, 255, 0.5);
$white6: rgba(255, 255, 255, 0.6);
$white7: rgba(255, 255, 255, 0.7);
$white8: rgba(255, 255, 255, 0.08);
$white9: rgba(255, 255, 255, 0.9);


$black1: rgba(0, 0, 0, 0.1);
$black2: rgba(0, 0, 0, 0.2);
$black3: rgba(0, 0, 0, 0.3);
$black4: rgba(0, 0, 0, 0.4);
$black5: rgba(0, 0, 0, 0.5);
$black6: rgba(0, 0, 0, 0.6);
$black7: rgba(0, 0, 0, 0.7);
$black8: rgba(0, 0, 0, 0.8);
$black9: rgba(0, 0, 0, 0.9);

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #6b7280;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;
$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;
$zinc-950: #09090b;

$red-500: #EF4444;

$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;
$neutral-950: #0a0a0a;

$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;
$blue-900: #1E3A8A;
$blue-950: #172554;


$emerald-300: #6EE7B7;
$emerald-400: #34D399;
$emerald-500: #10B981;
$emerald-600: #059669;
$amber-400: #FBBF24;
$rose-300: #FDA4AF;
$rose-600: #E11D48;

$bg-dashboard: $gray-950;
$bg-transparent-linear: linear-gradient(180deg, $white4 0%, $white8 100%);
$bg-transparent-solid: $white4;
$bg-card: $white2;
$border-color: $white8;
$primary-gradient: linear-gradient(270deg, rgba(255, 111, 0, 0.9) 11.93%, $white9 100%);
$transparent-btn: linear-gradient(180deg, $white2 0%, $white8 100%);
 


$heading-1-size: 2.6rem;
$heading-1-line-height: 150%;
$heading-1-letter-spacing: 0;
$heading-1-weight: 500;

$heading-2-size: 2.4rem;
$heading-2-line-height: 150%;
$heading-2-letter-spacing: 0;
$heading-2-weight: 500;

$heading-3-size: 2.2rem;
$heading-3-line-height: 150%;
$heading-3-letter-spacing: 0;
$heading-3-weight: 500;

$heading-4-size: 2rem;
$heading-4-line-height: 150%;
$heading-4-letter-spacing: 0;
$heading-4-weight: 500;

$heading-5-size: 1.8rem;
$heading-5-line-height: 150%;
$heading-5-letter-spacing: 0;
$heading-5-weight: 500;

$heading-6-size: 1.6rem;
$heading-6-line-height: 150%;
$heading-6-letter-spacing: 0;
$heading-6-weight: 500;

$paragraph-1-size: 1.4rem;
$paragraph-1-line-height: 150%;
$paragraph-1-letter-spacing: 0;
$paragraph-1-weight: 400;

$paragraph-2-size: 1.2rem;
$paragraph-2-line-height: 150%;
$paragraph-2-letter-spacing: 0;
$paragraph-2-weight: 500;



