@use "@/app/styles/variables" as *;
:root {
font-size: 10px;
}


html,
body {
   width: 100%;

  overflow-x: hidden;
}

body {

font-family: var(--font-manrope), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}


.manrope {
  font-family: var(--font-manrope), sans-serif;
}

.box {
  width: 100%;
  max-width: 1500px;
  padding: 0 10rem;
  margin: 0 auto;
  @media only screen and (max-width: 1250px) {
    padding: 0 5rem;
  }
  @media only screen and (max-width: 1000px) {
    padding: 0 3.5rem;
  }
  @media only screen and (max-width: 500px) {
    padding: 0 2rem;
  }
}