@use "../../../../styles/variables" as *;

.topContainer {
  width: 100%;
  border-radius: 15px;
  gap: 3.5rem;

  .information {
    width: 100%;
    gap: 1rem;
    align-items: flex-start;

    .icon {
        flex-shrink: 0;
        padding-top: 0.15rem;
    }
  }
}
