@import "../../../../../styles/variables";

.textInput {
  width: 100%;
  min-height: 50px;
  padding: 1.6rem 0 1.6rem 1.5rem;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  background: $bg-transparent-solid;
  border-radius: 10px;
  padding-right: 1.5rem;
  transition: all 0.3s ease;

  &:hover {
    border-color: $white8;
  }
  &::placeholder {
    font-size: 1.6rem;
    color: $gray-500;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
