@use "@/app/styles/variables" as *;
.hero {
  // height: 100vh;
  background: #030712;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroInner {
  width: 100%;
   height: 100vh;
  display: grid;
  grid-template-columns: 1fr 550px;
  grid-gap: 4rem;

  padding: 5rem 5rem;
}

/* LEFT */
.left {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.left img {
  width: 100%;
  height: auto;
}
.tempImage{
  width: 80rem !important;
}
.temp3{

}

.reportTable{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  h3{
color: $gray-600;
font-size: 1.8rem;
font-weight: 600;
  }
  .tableWrapper {
 width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  th {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-600;

    padding: 1.8rem 0;
      border-bottom:  1px solid #FFFFFF0D;
    
  }
}
.colOne{
      padding-left: 2rem;
}

tbody {
  tr {
      border-bottom:  1px solid #FFFFFF0D;

    // &:first-child {
    //   border-top: 1px solid rgba(255, 255, 255, 0.06);
    // }
  }

  td {
    padding: 1.8rem 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: $gray-600;
  }
}

}

.left{
  .wrapper {
  width: 100%;
  padding: 2.2rem 0;


}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1.5rem;
}

.leftCard {
  height: 130px;
  padding:2rem;
  border-radius: 1.5rem;
background: #FFFFFF03;


  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.title {
  font-size: 1.6rem;
  color: $gray-600;
  margin-bottom: 14px;
  font-weight: 600;
      white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  font-size: 32px;
  font-weight: 600;
  color: $gray-500;
}

.percent {
  font-size: 18px;
  font-weight: 500;
}

.green {

color: #047857;

}

.red {
     color: #ef4444cc;
}

/* Responsive */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

}


.gradientText {
  background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  line-height: 140%;
  font-size: 2.8rem;
  color: white;
}
.purpleGrad {
  background: linear-gradient(270deg, #a78bfa 61.2%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.left .multiLine {
  background: linear-gradient(
    90deg,
    #fb7185 -11.16%,
    #a78bfa 44.58%,
    #22c55e 101.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* CARD */
.card {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 28px;
  padding: 48px 40px;
  gap: 2.5rem;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* TITLE */
.card h1 {
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 150%;

  color: #ffffffcc;
}

/* AVATARS */
.avatars {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatars span {
  font-size: 1.6rem;
  color: #ffffffcc;
}

/* BUTTON */
.cta {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 1.6rem 2.8rem;
  border-radius: 1000px;
  border: none;

  background: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  color: #374151;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
.brownbtn {
  background-color: transparent;
  color: #ffffffe3;
  z-index: 1;
  backdrop-filter: blur(15px);
  background: #ffffff1a;
}

.cta svg {
  width: 1.8rem;
  height: 1.8rem;
}
/* FOOTER */
.footer {
  color: #ffffffcc;

  font-size: 1.4rem;
  position: absolute;
  bottom: 3.5rem;
}
.logo svg {
  width: 90px;
  height: 38px;
}
.card .multibg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 90%;
  width: 100%;
  opacity: 0.8;
}
.brownGrad {
  background: linear-gradient(270deg, #ff6f00 -8.8%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.wordWrapper {
  display: inline-block;
  height: 1.36em;
  overflow: hidden;
  vertical-align: bottom;
}

/* moving container */
.words {
  display: flex;
  flex-direction: column;
}

/* individual words */
.words .problem {
  height: 1.26em;
  line-height: 1.3em;
  display: flex;
  color: inherit;
  color: white;
  align-items: center;
  white-space: nowrap;
  background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .brownbg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
