@import "../../../../../styles/variables";

  .formContainer {
    width: 100%;
    gap: 2.5rem;

    .jobDetailsForm {
      width: 100%;
      gap: 2.5rem;

      .jobDetailsFormGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;

        .colOne {
          width: 100%;
          gap: 2.5rem;

          .inputContainer {
            width: 100%;
            gap: 1rem;

            .labelCheckbox {
                width: 100%;
                gap: 1rem;

                label {
                    width: 100%;
                }
            }

            .priceGrid {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
            }

            label {
              color: $gray-500;
              font-weight: 500;
            }

            .inputSelector {
              width: 100%;
              background: $bg-transparent-solid;
              border-radius: 10px;
              padding-right: 1.5rem;
              input {
                width: 100%;
                padding: 1.8rem 0 1.8rem 1.5rem;
                background: transparent;
                outline: none;
                border: none;
                border-radius: 10px;

                &::placeholder {
                  font-size: 1.6rem;
                  color: $gray-500;
                  font-weight: 500;
                }
              }

              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
