@use "../../../styles/variables" as *;

.header {
    width: 100%;
    gap: $space-1;
    border-bottom: 1px solid $border-color;
    padding-bottom: $space-2;

    .module {
        gap: $space-1-5;
    }
}