@use "../../../../styles/variables" as *;

.topContainer {
  width: 100%;
  border-radius: 12px;
  padding: 2.5rem 0 0 0;
  gap: 3.5rem;

  .warning {
    width: 100%;
    gap: 1rem;
    padding-inline: 2.5rem;

    h6 {
      a {
        text-decoration: underline;
      }
    }
  }

  .filters {
    width: 100%;
    gap: 2.5rem;
    padding-inline: 2.5rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    .filterItem {
      gap: 1rem;
      flex-shrink: 0;

      h6 {
        cursor: pointer;
      }

      &.active {
        h6 {
          color: $gray-200;
        }

        .border {
          background-color: $gray-200;
        }
      }

      .border {
        width: 100%;
        height: 3px;
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        background-color: transparent;
      }
    }
  }
}
