:root {
font-size: 10px;
}


html,
body {
 
  overflow-x: hidden;
}

body {

font-family: var(--font-manrope), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.manrope {
  font-family: var(--font-manrope), sans-serif;
}