.main {
  min-height: 100vh;
  height: 100%;
  background: #030712;
  width: 100%;
}
.main .heroSection {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  display: flex;
  align-items: flex-end;
  grid-gap: 4rem;
  padding: 5rem;
  /* LEFT */
  /* RIGHT */
  /* BUTTON */
}
@media only screen and (max-width: 1300px) {
  .main .heroSection {
    padding: 3.5rem;
    gap: 3.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .main .heroSection {
    flex-direction: column-reverse;
    min-height: unset;
    max-height: unset;
  }
  .main .heroSection .overlayLayer {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .main .heroSection {
    padding: 2.5rem;
    gap: 5rem;
  }
}
@media only screen and (max-width: 650px) {
  .main .heroSection {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main .heroSection .heroLeft {
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5rem;
  height: calc(100vh - 10rem);
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .main .heroSection .heroLeft {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 1100px) {
  .main .heroSection .heroLeft {
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .main .heroSection .heroLeft {
    order: 2;
    gap: 3.5rem;
  }
}
.main .heroSection .heroLeft .topFadeOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(3, 7, 18, 0.65), rgba(3, 7, 18, 0));
}
.main .heroSection .heroLeft img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 980px) {
  .main .heroSection .heroLeft img {
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .main .heroSection .heroLeft img {
    display: none;
  }
}
.main .heroSection .heroLeft .performanceReport {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.01);
}
@media only screen and (max-width: 1100px) {
  .main .heroSection .heroLeft .performanceReport {
    display: none;
  }
}
.main .heroSection .heroLeft .performanceReport h3 {
  color: #374151;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 0 0 2.5rem;
}
.main .heroSection .heroLeft .performanceReport .reportTableWrapper {
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 1550px) {
  .main .heroSection .heroLeft .performanceReport .reportTableWrapper {
    height: 100%;
  }
}
.main .heroSection .heroLeft .performanceReport .reportTable {
  width: 100%;
  min-width: 1000px;
  border-collapse: collapse;
}
.main .heroSection .heroLeft .performanceReport thead th {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
  color: #374151;
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0509803922);
  opacity: 80%;
}
.main .heroSection .heroLeft .performanceReport .firstColumn {
  padding-left: 3.5rem;
}
.main .heroSection .heroLeft .performanceReport tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}
.main .heroSection .heroLeft .performanceReport tbody td {
  padding: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 60%;
  color: #374151;
}
.main .heroSection .heroLeft .headlineText {
  background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  line-height: 140%;
  font-size: 3rem;
  color: white;
}
@media only screen and (max-width: 1300px) {
  .main .heroSection .heroLeft .headlineText {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 980px) {
  .main .heroSection .heroLeft .headlineText {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 650px) {
  .main .heroSection .heroLeft .headlineText {
    font-size: 2.15rem;
  }
}
.main .heroSection .heroLeft .headlineText .animatedWordMask {
  display: inline-block;
  height: 1.2em;
  transform: translateY(-0.07em);
  overflow: hidden;
  vertical-align: middle;
}
@media only screen and (max-width: 980px) {
  .main .heroSection .heroLeft .headlineText .animatedWordMask {
    transform: translateY(-0.05em);
  }
}
.main .heroSection .heroLeft .headlineText .animatedWordMask .animatedWords {
  display: block;
}
.main .heroSection .heroLeft .headlineText .animatedWordMask .animatedWords .animatedWord {
  display: block;
  line-height: 1.2em;
  color: inherit;
  color: white;
  background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .heroSection .heroLeft .headlineText .highlightBrand {
  background: linear-gradient(270deg, #ff6f00 -8.8%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.main .heroSection .ctaCard {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 28px;
  padding: 4.8rem 4rem;
  gap: 2.5rem;
  justify-content: center;
  width: 550px;
  min-width: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100vh - 10rem);
  background: rgba(255, 255, 255, 0.02);
}
@media only screen and (max-width: 1100px) {
  .main .heroSection .ctaCard {
    width: 100%;
    height: 75vh;
    min-height: 80vh;
  }
}
@media only screen and (max-width: 780px) {
  .main .heroSection .ctaCard {
    padding: 4.8rem 2.5rem;
    border-radius: 22px;
  }
}
@media only screen and (max-width: 650px) {
  .main .heroSection .ctaCard {
    order: 1;
    height: 60vh;
    min-height: 60vh;
    border-radius: 28px;
    min-width: 100%;
  }
}
.main .heroSection .ctaCard .cardBackground {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .heroSection .ctaCard .cardBackground svg {
  width: 100%;
  height: 100%;
}
.main .heroSection .ctaCard .brandLogo svg {
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 1300px) {
  .main .heroSection .ctaCard .brandLogo svg {
    width: 75px;
  }
}
.main .heroSection .ctaCard h1 {
  width: 100%;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}
.main .heroSection .ctaCard h1 > br:nth-child(2) {
  display: none;
}
@media only screen and (max-width: 1600px) {
  .main .heroSection .ctaCard h1 {
    font-size: 3rem;
  }
  .main .heroSection .ctaCard h1 > br:nth-child(1) {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  .main .heroSection .ctaCard h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 980px) {
  .main .heroSection .ctaCard h1 {
    font-size: 2.4rem;
  }
  .main .heroSection .ctaCard h1 > br:nth-child(2) {
    display: block;
  }
}
@media only screen and (max-width: 780px) {
  .main .heroSection .ctaCard h1 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 980px) {
  .main .heroSection .ctaCard h1 br {
    display: none;
  }
}
.main .heroSection .ctaCard .socialProof {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media only screen and (max-width: 650px) {
  .main .heroSection .ctaCard .socialProof img {
    width: 100px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.main .heroSection .ctaCard .socialProof span {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 650px) {
  .main .heroSection .ctaCard .socialProof span {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 450px) {
  .main .heroSection .ctaCard .socialProof span {
    font-size: 1.4rem;
  }
}
.main .heroSection .ctaCard .cardFooter {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  position: absolute;
  bottom: 3.5rem;
}
.main .heroSection .primaryButton {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 1.6rem 2.8rem;
  border-radius: 1000px;
  border: none;
  background: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  color: #374151;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
@media only screen and (max-width: 450px) {
  .main .heroSection .primaryButton {
    font-size: 1.4rem;
  }
}
.main .heroSection .primaryButton svg {
  width: 1.8rem;
  height: 1.8rem;
}
.main .heroSection .glassButton {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8901960784);
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1019607843);
  transition: all 0.3s ease;
}
.main .heroSection .glassButton:hover {
  color: rgba(255, 255, 255, 0.75);
}/*# sourceMappingURL=page.module.css.map */