@use "./styles/variables" as *;

.hero {
  min-height: 100vh;
  height: 100%;
  background: #030712;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroInner {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  display: flex;
  align-items: flex-end;
  // grid-template-columns: 1fr 550px;
  grid-gap: 4rem;
  padding: 5rem;

  @media only screen and (max-width: 1300px) {
    padding: 3.5rem;
    gap: 3.5rem;
  }
  @media only screen and (max-width: 1100px) {
    flex-direction: column-reverse;
    min-height: unset;
    max-height: unset;
    .overlayLayer {
      display: none;
    }
  }
  @media only screen and (max-width: 980px) {
    padding: 2.5rem;
    gap: 5rem;
  }
  @media only screen and (max-width: 650px) {
    flex-direction: column;
  }
}

/* LEFT */
.left {
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5rem;
  height: calc(100vh - 10rem);
  position: relative;
  @media only screen and (max-width: 1200px) {
    justify-content: flex-end;
  }
  @media only screen and (max-width: 1100px) {
    height: auto;
  }
  @media only screen and (max-width: 650px) {
    order: 2;
    gap: 3.5rem;
  }
}
.overlayLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgb(3, 7, 18, 0.65), rgb(3, 7, 18, 0));
}

.left img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  @media only screen and (max-width: 980px) {
    height: auto;
  }
  @media only screen and (max-width: 650px) {
    display: none;
  }
}
.tempImage {
  width: 80rem !important;
}

.reportTable {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.01);
  @media only screen and (max-width: 1100px) {
    display: none;
  }
  h3 {
    color: $gray-700;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.5rem 0 0 2.5rem;
  }
  .tableWrapper {
    width: 100%;
    overflow: hidden;

    @media only screen and (min-width: 1550px) {
      height: 100%;
    }
  }

  .table {
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
  }

  thead {
    th {
      text-align: left;
      font-size: 1.4rem;
      font-weight: 700;
      // text-transform: uppercase;
      color: $gray-700;
      padding: 1.25rem 0;
      border-bottom: 1px solid #ffffff0d;
      opacity: 80%;
    }
  }
  .colOne {
    padding-left: 3.5rem;
  }

  tbody {
    tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    }

    td {
      padding: 1.5rem 0;
      font-size: 1.4rem;
      font-weight: 600;
      opacity: 60%;
      color: $gray-700;
    }
  }
}

.left {
  .wrapper {
    width: 100%;
    padding: 0.5rem 0;
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    // gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 650px) {
      display: none;
    }
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .leftCard {
    // height: 130px;
    padding: 1.6rem;
    border-radius: 1.5rem;
    background: #ffffff03;
    // opacity: 0;
    // transform: translateY(40px);
    transition: all 0.6s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
  }

  .title {
    font-size: 1.6rem;
    color: $gray-600;
    margin-bottom: 14px;
    font-weight: 500;
    white-space: nowrap;

    @media only screen and (max-width: 1450px) {
      width: 70px;
      white-space: wrap;
    }
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.75rem;
  }

  .value {
    font-size: 2rem;
    font-weight: 600;
    color: $gray-500;
    // @media only screen and (max-width: 980px) {
    //   font-size: 2rem;
    // }
  }

  .percent {
    font-size: 1.6rem;
    font-weight: 500;
    // @media only screen and (max-width: 980px) {
    //   font-size: 1.6rem;
    // }
  }

  .green {
    color: #047857;
  }

  .red {
    color: #ef4444cc;
  }

  /* Responsive */
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 520px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}

.gradientText {
  background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  line-height: 140%;
  font-size: 3rem;
  color: white;
  @media only screen and (max-width: 1300px) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width: 980px) {
    font-size: 2rem;
  }
}
.purpleGrad {
  background: linear-gradient(270deg, #a78bfa 61.2%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.left .multiLine {
  background: linear-gradient(
    90deg,
    #fb7185 -11.16%,
    #a78bfa 44.58%,
    #22c55e 101.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* CARD */
.card {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 28px;
  padding: 4.8rem 4rem;
  gap: 2.5rem;
  justify-content: center;
  width: 550px;
  min-width: 465px;
  // max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100vh - 10rem);
  background: rgba(255, 255, 255, 0.01);

  @media only screen and (max-width: 1100px) {
    width: 100%;
    height: 75vh;
    min-height: calc(80vh);
  }

  @media only screen and (max-width: 780px) {
    padding: 4.8rem 2.5rem;
    border-radius: 22px;
  }

  @media only screen and (max-width: 650px) {
    order: 1;
    height: 50vh;
    min-height: 50vh;
    border-radius: 28px;
    min-width: 100%;
  }
}

/* TITLE */
.card h1 {
  width: 100%;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 150%;
  color: #ffffffcc;

  @media only screen and (max-width: 1600px) {
    & > br {
      display: none;
    }
    font-size: 3rem;
  }
  @media only screen and (max-width: 1300px) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: 980px) {
    font-size: 2.4rem;
  }

  @media only screen and (max-width: 780px) {
    font-size: 2.2rem;
  }

  br {
    @media only screen and (max-width: 980px) {
      display: none;
    }
  }
}

/* AVATARS */
.avatars {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  img {
    @media only screen and (max-width: 650px) {
      width: 100px;
      height: auto;
      object-fit: contain;
    }
  }
}

.avatars span {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  color: #ffffffcc;
  @media only screen and (max-width: 650px) {
    white-space: nowrap;
  }

  @media only screen and (max-width: 450px) {
    font-size: 1.4rem;
  }
}

/* BUTTON */
.cta {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 1.6rem 2.8rem;
  border-radius: 1000px;
  border: none;
  background: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  color: #374151;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  @media only screen and (max-width: 450px) {
    font-size: 1.4rem;
  }
}
.brownbtn {
  background-color: transparent;
  color: #ffffffe3;
  z-index: 1;
  backdrop-filter: blur(15px);
  background: #ffffff1a;
  transition: all 0.3s ease;

  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.cta svg {
  width: 1.8rem;
  height: 1.8rem;
}
/* FOOTER */
.footer {
  color: #ffffffcc;

  font-size: 1.4rem;
  position: absolute;
  bottom: 3.5rem;
}
.logo svg {
  width: 90px;
  object-fit: contain;
  @media only screen and (max-width: 1300px) {
    width: 75px;
  }
}
.card .multibg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 90%;
  width: 100%;
  opacity: 0.8;
}
.brownGrad {
  background: linear-gradient(270deg, #ff6f00 -8.8%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.wordWrapper {
  // display: inline-block;
  // height: 1.36em;
  // overflow: hidden;
  // vertical-align: bottom;
  display: inline-block;
  height: 1.2em;
  transform: translateY(-0.07em);
  overflow: hidden;
  vertical-align: middle;

  @media only screen and (max-width: 980px) {
    transform: translateY(-0.05em);
  }
}

/* moving container */
.words {
  // display: flex;
  // flex-direction: column;
  display: block;
}

/* individual words */
.words .problem {
  // height: 1.26em;
  // line-height: 1.3em;
  // display: flex;
  display: block;
  line-height: 1.2em;
  color: inherit;
  color: white;
  // align-items: center;
  // white-space: nowrap;
  background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .brownbg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  svg {
    width: 100%;
    height: 100%;
  }
}
