@use "./styles/variables" as *;

.main {
  min-height: 100vh;
  height: 100%;
  background: #030712;
  width: 100%;

  .heroSection {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    display: flex;
    align-items: flex-end;
    grid-gap: 4rem;
    padding: 5rem;

    @media only screen and (max-width: 1300px) {
      padding: 3.5rem;
      gap: 3.5rem;
    }
    @media only screen and (max-width: 1100px) {
      flex-direction: column-reverse;
      min-height: unset;
      max-height: unset;
      .overlayLayer {
        display: none;
      }
    }
    @media only screen and (max-width: 980px) {
      padding: 2.5rem;
      gap: 5rem;
    }
    @media only screen and (max-width: 650px) {
      flex-direction: column;
      align-items: flex-start;
    }

    /* LEFT */
    .heroLeft {
      width: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 5rem;
      height: calc(100vh - 10rem);
      position: relative;
      @media only screen and (max-width: 1200px) {
        justify-content: flex-end;
      }
      @media only screen and (max-width: 1100px) {
        height: auto;
      }
      @media only screen and (max-width: 650px) {
        order: 2;
        gap: 3.5rem;
      }

      .topFadeOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background: linear-gradient(
          to bottom,
          rgb(3, 7, 18, 0.65),
          rgb(3, 7, 18, 0)
        );
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;

        @media only screen and (max-width: 980px) {
          height: auto;
        }
        @media only screen and (max-width: 650px) {
          display: none;
        }
      }

      .performanceReport {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        border-radius: 1.5rem;
        background: rgba(255, 255, 255, 0.01);
        @media only screen and (max-width: 1100px) {
          display: none;
        }
        h3 {
          color: $gray-700;
          font-size: 1.8rem;
          font-weight: 600;
          padding: 1.5rem 0 0 2.5rem;
        }
        .reportTableWrapper {
          width: 100%;
          overflow: hidden;

          @media only screen and (min-width: 1550px) {
            height: 100%;
          }
        }

        .reportTable {
          width: 100%;
          min-width: 1000px;
          border-collapse: collapse;
        }

        thead {
          th {
            text-align: left;
            font-size: 1.4rem;
            font-weight: 700;
            color: $gray-700;
            padding: 1.25rem 0;
            border-bottom: 1px solid #ffffff0d;
            opacity: 80%;
          }
        }
        .firstColumn {
          padding-left: 3.5rem;
        }

        tbody {
          tr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.03);
          }

          td {
            padding: 1.5rem 0;
            font-size: 1.4rem;
            font-weight: 600;
            opacity: 60%;
            color: $gray-700;
          }
        }
      }

      .headlineText {
        background: linear-gradient(270deg, #10161f -16.25%, #4f5867 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: 500;
        line-height: 140%;
        font-size: 3rem;
        color: white;
        @media only screen and (max-width: 1300px) {
          font-size: 2.5rem;
        }
        @media only screen and (max-width: 980px) {
          font-size: 2rem;
        }
        @media only screen and (max-width: 650px) {
          font-size: 2.15rem;
        }

        .animatedWordMask {
          display: inline-block;
          height: 1.2em;
          transform: translateY(-0.07em);
          overflow: hidden;
          vertical-align: middle;

          @media only screen and (max-width: 980px) {
            transform: translateY(-0.05em);
          }

          .animatedWords {
            display: block;

            .animatedWord {
              display: block;
              line-height: 1.2em;
              color: inherit;
              color: white;
              background: linear-gradient(
                270deg,
                #10161f -16.25%,
                #4f5867 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        .highlightBrand {
          background: linear-gradient(270deg, #ff6f00 -8.8%, #fff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }
    }

    /* RIGHT */
    .ctaCard {
      overflow: hidden;
      position: relative;
      z-index: 1;
      border-radius: 28px;
      padding: 4.8rem 4rem;
      gap: 2.5rem;
      justify-content: center;
      width: 550px;
      min-width: 465px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: calc(100vh - 10rem);
      background: rgba(255, 255, 255, 0.02);

      @media only screen and (max-width: 1100px) {
        width: 100%;
        height: 75vh;
        min-height: calc(80vh);
      }

      @media only screen and (max-width: 780px) {
        padding: 4.8rem 2.5rem;
        border-radius: 22px;
      }

      @media only screen and (max-width: 650px) {
        order: 1;
        height: 60vh;
        min-height: 60vh;
        border-radius: 28px;
        min-width: 100%;
      }

      .cardBackground {
        z-index: -1;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .brandLogo svg {
        width: 90px;
        object-fit: contain;
        @media only screen and (max-width: 1300px) {
          width: 75px;
        }
      }

      h1 {
        width: 100%;
        font-size: 3.3rem;
        font-weight: 500;
        line-height: 150%;
        color: #ffffffcc;
        & > br:nth-child(2) {
          display: none;
        }
        @media only screen and (max-width: 1600px) {
          & > br:nth-child(1) {
            display: none;
          }
          font-size: 3rem;
        }
        @media only screen and (max-width: 1300px) {
          font-size: 2.5rem;
        }

        @media only screen and (max-width: 980px) {
          font-size: 2.4rem;
          & > br:nth-child(2) {
            display: block;
          }
        }

        @media only screen and (max-width: 780px) {
          font-size: 2.2rem;
        }

        br {
          @media only screen and (max-width: 980px) {
            display: none;
          }
        }
      }

      .socialProof {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        img {
          @media only screen and (max-width: 650px) {
            width: 100px;
            height: auto;
            object-fit: contain;
          }
        }

        span {
          width: 100%;
          text-align: left;
          font-size: 1.6rem;
          color: #ffffffcc;
          @media only screen and (max-width: 650px) {
            white-space: nowrap;
          }

          @media only screen and (max-width: 450px) {
            font-size: 1.4rem;
          }
        }
      }

      .cardFooter {
        color: #ffffffcc;
        font-size: 1.4rem;
        position: absolute;
        bottom: 3.5rem;
      }
    }

    /* BUTTON */
    .primaryButton {
      position: relative;
      z-index: 1;
      overflow: hidden;
      padding: 1.6rem 2.8rem;
      border-radius: 1000px;
      border: none;
      background: #ffffff;
      font-size: 1.6rem;
      font-weight: 400;
      cursor: pointer;
      color: #374151;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      transition: transform 0.15s ease, box-shadow 0.15s ease;

      @media only screen and (max-width: 450px) {
        font-size: 1.4rem;
      }

      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
    .glassButton {
      background-color: transparent;
      color: #ffffffe3;
      z-index: 1;
      backdrop-filter: blur(15px);
      background: #ffffff1a;
      transition: all 0.3s ease;

      &:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}
