@use "../../styles/variables" as *;

.viewScanner {
  width: 100%;
  height: 100%;
  gap: 3.5rem;

  .scannerFormContainer {
    width: 100%;
    gap: 3.5rem;

    .ScannerForm {
      width: 100%;
      border-radius: 20px;
      gap: 2.5rem;

      .topHeader {
        width: 100%;
        gap: 1rem;

        .actionItems {
          gap: 1rem;

          button {
            width: max-content;
            min-width: 85px;
            height: 40px;
            padding: 0 2rem;
            border-radius: 1000px;
            background-color: $bg-transparent-solid;
            border: none;
            outline: none;
          }

          .arrowDown {
            width: 40px;
            height: 40px;
            background-color: $bg-transparent-solid;
            border-radius: 1000px;
            cursor: pointer;

            svg {
                transition: transform 0.3s ease;
                transform: rotate(180deg);
            }
              &.collapsed {
            svg {
                transform: rotate(0deg);
            }
          }
          }

        
        }
      }
    }
  }
}
