@use "../styles/variables" as *;

.dashboardLayout {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-dashboard;
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 3.5rem;
  padding: 2.5rem;

  .mainContent {
    width: 100%;
    height: 100%;
    gap: 3.5rem;

    .content {
      width: 100%;
      height: 100%;
      // overflow-y: scroll;
      // scrollbar-width: thin;
    }
  }
}
