@use "../styles/variables" as *;

.dashboardLayout {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-dashboard;
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: $space-3-5;
  padding: $space-1-5;

  .mainContent {
    width: 100%;
    height: 100%;
    gap: $space-3-5;

    .content {
      width: 100%;
      // overflow-y: scroll;
      // scrollbar-width: thin;
    }
  }
}
