   @use "../../styles/variables" as *;
   
   .activeJob {
        width: 100%;
        gap: $space-3-5;

        .jobContainer {
          width: 100%;
          display: grid;
          grid-template-columns: 2.35fr 1fr;
          gap: $space-2-5;
          border-radius: 25px;

          .jobInfo {
            width: 100%;
            gap: $space-3-5;

            .jobPosted {
              width: 100%;
              gap: $space-2-5;

              .jobHeader {
                width: 100%;
                gap: $space-1;

                .jobTitle {
                  gap: $space-1;

                }

                .jobActions {
                  gap: $space-2-5;

                  .ActionItems {
                    gap: $space-1;
                    cursor: pointer;

                    span {
                      width: 48px;
                      height: 48px;
                      border-radius: 1000px;
                      background-color: $bg-transparent-solid;
                    }
                  }
                }
              }

              .skills {
                width: 100%;
                gap: $space-1-5;

                .chip {
                  padding: $space-1-3 $space-1-5;
                  background-color: $bg-transparent-solid;
                  border-radius: 1000px;
                }
              }
            }
          }

          .jobDetails {
            width: 100%;
            border-radius: 15px;
            gap: $space-2-5;

            .jobDetailsContent {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: $space-2-5;

              .jobDetailsItem {
                width: 100%;
                gap: $space-2-5;
              }
            }
          }

          .jobQuestions {
            width: 100%;
            gap: $space-2-5;

            ol {
              gap: $space-1-5;
              padding-left: $space-2;
            }
          }
        }

        .clientContainer {
          width: 100%;
          height: max-content;
          gap: $space-3-5;
          border-radius: 25px;

          .clientInfo {
            width: 100%;
            gap: $space-2;

            .clientInfoContent {
              width: 100%;
              gap: $space-2-5;

              .clientInfoItem {
                width: 100%;
                gap: 1rem;
                &.hours {
                  align-items: flex-start !important;
                }

                span {
                  width: 25px;
                  height: 25px;
                  border-radius: 1000px;
                  background-color: $white2;
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  .glow {
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    width: 23px;
                    height: 25px;
                    background: linear-gradient(
                      121.93deg,
                      #ff6f00 19.19%,
                      #ffffff 133.67%
                    );
                    filter: blur(7px);
                    transform: rotate(-135deg);
                  }
                }

                .stars {
                  gap: $space-0-5;
                }
                h6 {
                  position: relative;
                  z-index: 1;
                }
                .clientInfoText {
                  gap: $space-1;
                }
              }
            }
          }

          .buttons {
            width: 100%;
            gap: $space-1-5;

            .transparentBtn {
              width: 100%;
              border-radius: 1000px;
              background: $transparent-btn;
              border: none;
              outline: none;
              padding: $space-1-5;
              backdrop-filter: blur(50px);
              position: relative;
              overflow: hidden;
              cursor: pointer;

              .btnGradient {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
                bottom: 0;

                svg {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }