@use "../../styles/variables" as *;

.activeJob {
  width: 100%;
  gap: 3.5rem;

  .jobContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2.35fr 1fr;
    gap: 2.5rem;
    border-radius: 25px;

    .jobInfo {
      width: 100%;
      gap: 3.5rem;

      .jobPosted {
        width: 100%;
        gap: 2.5rem;

        .jobHeader {
          width: 100%;
          gap: 1rem;

          .jobTitle {
            gap: 1rem;
          }

          .jobActions {
            gap: 2.5rem;

            .ActionItems {
              gap: 1rem;
              cursor: pointer;

              span {
                width: 48px;
                height: 48px;
                border-radius: 1000px;
                background-color: $bg-transparent-solid;
              }
            }
          }
        }

        .skills {
          width: 100%;
          gap: 1.5rem;

          .chip {
            padding: 1.3rem 1.5rem;
            background-color: $bg-transparent-solid;
            border-radius: 1000px;
          }
        }
      }
    }

    .jobDetails {
      width: 100%;
      border-radius: 15px;
      gap: 2.5rem;

      .jobDetailsContent {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;

        .jobDetailsItem {
          width: 100%;
          gap: 2.5rem;
        }
      }
    }

    .jobQuestions {
      width: 100%;
      gap: 2.5rem;

      ol {
        gap: 1.5rem;
        padding-left: 2rem;
      }
    }
  }

  .clientContainer {
    width: 100%;
    height: max-content;
    gap: 3.5rem;
    border-radius: 25px;

    .clientInfo {
      width: 100%;
      gap: 2rem;

      .clientInfoContent {
        width: 100%;
        gap: 2.5rem;

        .clientInfoItem {
          width: 100%;
          gap: 1rem;
          &.hours {
            align-items: flex-start !important;
          }

          span {
            width: 25px;
            height: 25px;
            border-radius: 1000px;
            background-color: $white2;
            position: relative;
            z-index: 1;
            overflow: hidden;
            .glow {
              position: absolute;
              z-index: 0;
              left: 0;
              bottom: 0;
              top: 0;
              width: 23px;
              height: 25px;
              background: linear-gradient(
                121.93deg,
                #ff6f00 19.19%,
                #ffffff 133.67%
              );
              filter: blur(7px);
              transform: rotate(-135deg);
            }
          }

          .stars {
            gap: 0.5rem;
          }
          h6 {
            position: relative;
            z-index: 1;
          }
          .clientInfoText {
            gap: 1rem;
          }
        }
      }
    }

    .buttons {
      width: 100%;
      gap: 1.5rem;

      .transparentBtn {
        width: 100%;
        border-radius: 1000px;
        background: $transparent-btn;
        border: none;
        outline: none;
        padding: 1.5rem;
        backdrop-filter: blur(50px);
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .btnGradient {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          bottom: 0;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
