@use "../../../styles/variables" as *;

.sidebar {
  width: 100%;
  height: calc(100vh - 35px);
  border-radius: 25px;
  background: $bg-card;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: 2.5rem;
  padding: 2.5rem;

  .Bg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;

    &.top {
      top: -100px;
      right: 0;
    }

    &.bottom {
      bottom: -100px;
      left: 0;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .navContainer {
    width: 100%;
    gap: 1.25rem;

    .navCategory {
      width: 100%;
      gap: 1.25rem;
      .navItem {
        width: 100%;
        gap: $space-1;
        cursor: pointer;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
