@use "../../../styles/variables" as *;

.sidebar {
  width: 100%;
  height: 100vh;
  border-radius: 25px;
  background: $bg-card;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: $space-5;
  padding: $space-3 $space-2-5;

  .Bg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;

    &.top {
      top: -100px;
      right: 0;
    }

    &.bottom {
      bottom: -100px;
      left: 0;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .navContainer {
    width: 100%;
    gap: $space-2;

    .navCategory {
      width: 100%;
      gap: $space-2;

      .navItem {
        width: 100%;
        gap: $space-1;
        cursor: pointer;
      }
    }
  }
}
