@use "../../../../styles/variables" as *;

.jobTable {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 0;

  .tableContainer {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;

    .gridContainer {
      border: none;
      &:nth-child(odd) {
        background-color: $white2;
      }
    }
  }

  .gridContainer {
    width: 100%;
    height: 66px;
    display: grid;
    grid-template-columns: 1fr 150px 120px 120px 280px;
    gap: 4rem;
    border-bottom: 1px solid $white8;
    padding: 0 2rem;

    &.header {
        padding: 2rem;
        height: auto;
      p {
        color: $gray-500;
        font-weight: 700;
      }
    }

    .jobTitle {
      gap: 1rem;
    }

    .ratingContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    

    h6 {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;

      &.rating {
        width: 30px;
        height: 30px;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
      }

      &.five {
        // border: 1px solid #10b981;
        background-color: rgba(16, 185, 129, 0.20);
        color: $emerald-400;
      }

      &.four {
        // border-color: #a7f3d0;
        background-color: rgba(110, 231, 183, 0.20);
        color: $emerald-300;
      }
      &.three {
        // border-color: #fbbf24;
        background-color: rgba(251, 191, 36, 0.20);
        color: $amber-400;
      }
      &.two {
        background-color: rgba(253, 164, 175, 0.20);;
        color: $rose-300;
      }
      &.one {
        background-color: rgba(225, 29, 72, 0.20);
        color: $rose-600;
      }
    }

    .actions {
      width: 100%;
      gap: 1rem;
      position: relative;
      padding: 1rem 0;

      button {
        background: $bg-transparent-solid;
        border-radius: 1000px;
        height: 100%;
        padding: 0 2rem;
        border: none;
        outline: none;
        color: $gray-200;
        cursor: pointer;
      }

      .dotsContainer {
        position: relative;
      }

      span {
        background: $bg-transparent-solid;
        width: 46px;
        height: 46px;
        border-radius: 1000px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        .dots {
          width: 4.5px;
          height: 4.5px;
          border-radius: 1000px;
          background-color: $gray-400;
          flex-shrink: 0;
        }
      }

      .dotsWrapper {
        background: $bg-transparent-solid;
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        .dots {
          width: 4.5px;
          height: 4.5px;
          border-radius: 1000px;
          background-color: $gray-400;
          flex-shrink: 0;
        }
      }

      .popup {
        position: absolute;
        top: 45px;
        right: 0;
        background: $gray-950;
        border-radius: 12px;
        box-shadow: 3px 3px 10px 0px #ffffff08;
        border: 1px solid $white8;
        min-width: 187px;
        z-index: 1000;
        overflow: hidden;

        .popupItem {
          width: 100%;
          padding: 1rem 1.5rem;
          gap: 0.8rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: none;
          border-bottom: 1px solid $white4;

          &:hover {
            background-color: $white4;
          }

          svg {
            width: 14px;
            height: 14px;
          }

          svg path {
            stroke: #6b7280;
          }

          span {
            width: auto;
            height: auto;
            background-color: transparent;
            color: $gray-500;
          }
        }
      }
    }
  }
}
