@import "../../../../../styles/variables";
.inputSelectorContainer {
  width: 100%;
  position: relative;
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  .disabled input {
    cursor: not-allowed;
  }
  .inputSelector {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background: $bg-transparent-solid;
    border-radius: 10px;
    padding-right: 1.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      border-color: $white8;
    }
    // &:hover {
    // }

    .left {
      width: 100%;
      gap: 1rem;
      padding: 1.6rem 0 1.6rem 1.5rem;
      min-height: 50px;
      max-height: 50px;
    }
    input {
      width: 100%;
      background: transparent;
      outline: none;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.6rem;
      color: $gray-200;
      font-weight: 500;

      &::placeholder {
        font-size: 1.6rem;
        color: $gray-500;
        font-weight: 500;
      }
    }
    .arrow {
      svg {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }
    &.rotated {
      svg {
        transform: rotate(0deg);
      }
    }
  }
  .dropdown {
    width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    background: $bg-transparent-solid;
    border-radius: 12px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    border: none;
    backdrop-filter: blur(20px);
    // box-shadow: 0 4px 12px rgba(255, 255, 255, 0.075);
  }
  .option {
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.6rem;
    color: $gray-500;
    border-bottom: 1px solid $border-color;
    &:hover {
      background: $bg-transparent-solid;
      // color: $primary-color;
    }
    &.selected {
      background: $bg-transparent-solid;
      color: $gray-200;
    }
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
      border-bottom: none;
    }
  }
}
